<!DOCTYPE html>
<html lang="ru">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= vinyl.vinyl_title %></title>
    <style>

        @media (max-width: 600px) {
        body {
            max-width: 600px;
            margin: auto;

        }

        }

        @font-face {
        font-family: "Floripa";
        src: url('/fonts/Floripa.otf');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        letter-spacing: 2px;
        }



        #tracklist {
                list-style-type: none; /* Это свойство убирает маркеры списка */
            }

            h1 {
            font-family: Floripa;
            font-size: 25px;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: black;
        }
        button#printQRCodeButton {
            width: 70px;
            font-size: 10px;
            text-decoration: none;
            color: black;
            height: 40px;
        }

        button#sovsearch {
            width: 70px;
            font-size: 10px;
            height: 50px;
            text-decoration: none;
            color: black;
        }
        
        @media print {
            img {
                display: block !important;
                width: 100%;
            }
            
            body * {
                display: none;
            }
        }
    </style>
</head> 
<body>
    <h1><a text-decoration: none; font-size=200px; href="/vinyl.html" >ВИНИЛОВЫЕ<br>ПЛАСТИНКИ</a></h1>
    <h2><%= vinyl.vinyl_title %></h2>
        <% if (vinyl.vinyl_type) { %>
    <div>Тип: <%= vinyl.vinyl_type %></div>
        <% } %>
        <% if (vinyl.vinyl_releaseyear) { %>
    <div>Год выпуска: <%= vinyl.vinyl_releaseyear %></div>
        <% } %>
        <% if (vinyl.vinyl_catalog_num) { %>
    <div>Каталожный номер: <%= vinyl.vinyl_catalog_num %></div>
        <% } %>
        <% if (vinyl.vinyl_rpm) { %>
    <div>Скорость вращения: <%= vinyl.vinyl_rpm %></div>
        <% } %>
        <% if (vinyl.vinyl_manufacturer) { %>
    <div>Производитель: <%= vinyl.vinyl_manufacturer %></div>
        <% } %>
        <% if (vinyl.vinyl_comments) { %>
    <div>Комментарии: <%= vinyl.vinyl_comments %></div>
        <% } %>

    <!-- и так далее для всех данных о пластинке -->
    <h3>Треки</h3>
    <ul id="tracklist">
        <% tracks.forEach(track => { %>
            <li><strong><%= track.track_title %></strong><%
                if (track.track_author) { %>, <%= track.track_author %><%
                }
                if (track.track_performer) { %>, <%= track.track_performer %><%
                }
                if (track.track_duration) { %>, <%= track.track_duration %><%
                } %>
            </li>
        <% }); %>
    </ul>
    
    
    
    
    
    <img hidden src="<%= vinyl.vinyl_qr %>" alt="QR Code" />
    <button id="printQRCodeButton">Печать QR-кода</button><br>
    <button id="sovsearch">Поиск по сайту sovmusic.ru</button>
    
    <script>
    document.getElementById('printQRCodeButton').addEventListener('click', function() {
        window.print();
    });


    


    document.getElementById('sovsearch').addEventListener('click', function() {
    var vinylTitle = '<%= vinyl.vinyl_title %>';

    fetch('/encode', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ text: vinylTitle })
    })
    .then(response => response.json())
    .then(data => {
        var searchUrl = 'http://www.sovmusic.ru/result.php?type=simple&searchterm=' + data.encoded + '&searchtype=name';
        window.open(searchUrl, '_blank');
    })
    .catch(error => console.error('Error:', error));
});

</script>

</body>
</html>