<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Остальная часть head -->
    <title><%= vinyl.vinyl_title %></title>
    <style>
        a {
            font-family: 'Donpo';
            text-align: center;
            margin-top: 80px;
            color: rgb(0, 0, 0);
            text-decoration: none;
        }
        
        @media print {
            img {
                display: block !important;
                width: 100%;
            }
            
            body * {
                display: none;
            }
        }
    </style>
</head>
<body>
    <h1><a href="/vinyl.html" >Виниловые пластинки</a></h1>
    <h1><%= vinyl.vinyl_title %></h1>
    <div>Год выпуска: <%= vinyl.vinyl_releaseyear %></div>
    <!-- и так далее для всех данных о пластинке -->
    <ul id="tracklist">
        <% tracks.forEach(track => { %>
            <li><%= track.track_title %></li>
        <% }); %>
    </ul>
    <img hidden src="<%= vinyl.vinyl_qr %>" alt="QR Code" />
    <button id="printQRCodeButton">Печать QR-кода</button>

    <script>
        document.getElementById('printQRCodeButton').addEventListener('click', function() {
            window.print();
        });

    </script>
</body>
</html>