<!DOCTYPE html>
<html lang="ru">
<head>
    
    <meta charset="UTF-8">
    <title><%= vinyl.vinyl_title %></title>
    <style>

        @font-face {
        font-family: "Floripa";
        src: url('/fonts/Floripa.otf');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        }

        #tracklist {
                list-style-type: none; /* Это свойство убирает маркеры списка */
            }

        #main_title {
            font-family: 'Floripa';
            text-align: center;
            margin-top: 80px;
            color: rgb(0, 0, 0);
            text-decoration: none;
        }

        #main_title {
            text-align: center;
            width: 50%;
            font-size: 25px;

        }
        
        @media print {
            img {
                display: block !important;
                width: 100%;
            }
            
            body * {
                display: none;
            }
        }
    </style>
</head>
<body>
    <div id="main_title" ><h1 ><a href="/vinyl.html" >ВИНИЛОВЫЕ ПЛАСТИНКИ</a></h1></div>
    <h1><%= vinyl.vinyl_title %></h1>
        <% if (vinyl.vinyl_type) { %>
    <div>Тип: <%= vinyl.vinyl_type %></div>
        <% } %>
        <% if (vinyl.vinyl_releaseyear) { %>
    <div>Год выпуска: <%= vinyl.vinyl_releaseyear %></div>
        <% } %>
        <% if (vinyl.vinyl_catalog_num) { %>
    <div>Каталожный номер: <%= vinyl.vinyl_catalog_num %></div>
        <% } %>
        <% if (vinyl.vinyl_rpm) { %>
    <div>Скорость вращения: <%= vinyl.vinyl_rpm %></div>
        <% } %>
        <% if (vinyl.vinyl_manufacturer) { %>
    <div>Производитель: <%= vinyl.vinyl_manufacturer %></div>
        <% } %>
        <% if (vinyl.vinyl_comments) { %>
    <div>Комментарии: <%= vinyl.vinyl_comments %></div>
        <% } %>

    <!-- и так далее для всех данных о пластинке -->
    <h2>Треки</h2>
    <ul id="tracklist">
        <% tracks.forEach(track => { %>
            <li><strong><%= track.track_title %></strong><%
                if (track.track_author) { %>, <%= track.track_author %><%
                }
                if (track.track_performer) { %>, <%= track.track_performer %><%
                }
                if (track.track_duration) { %>, <%= track.track_duration %><%
                } %>
            </li>
        <% }); %>
    </ul>
    
    
    
    
    
    <img hidden src="<%= vinyl.vinyl_qr %>" alt="QR Code" />
    <button id="printQRCodeButton">Печать QR-кода</button>
    <button id="sovsearch">Поиск по сайту sovmusic.ru</button>
    
    <script>
    document.getElementById('printQRCodeButton').addEventListener('click', function() {
        window.print();
    });


    


    document.getElementById('sovsearch').addEventListener('click', function() {
    var vinylTitle = '<%= vinyl.vinyl_title %>';

    fetch('/encode', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ text: vinylTitle })
    })
    .then(response => response.json())
    .then(data => {
        var searchUrl = 'http://www.sovmusic.ru/result.php?type=simple&searchterm=' + data.encoded + '&searchtype=name';
        window.open(searchUrl, '_blank');
    })
    .catch(error => console.error('Error:', error));
});

</script>

</body>
</html>